:root {
  --toast-shadow: 0 0 10px #000000;
}

.theme-dark:root {
  --toast-bg: rgba(35, 35, 35, 0.5);
  --toast-border: var(--toast-bg);
  --text-default: #fff;
  --text-darker: #9298a0;
  --close-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>') 0 -3px/20px 20px no-repeat;
}

.theme-light:root {
  --toast-bg: rgba(227, 229, 232, 0.5);
  --toast-border: var(--toast-bg);
  --text-default: #000;
  --text-darker: #3b3b3b;
  --close-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>') 0 -3px/20px 20px no-repeat;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#app-mount .powercord-toast {
  background-color: var(--toast-bg);
  width: 37%;
  border: solid 1px var(--toast-border);
  backdrop-filter: blur(5px);
  box-shadow: var(--toast-shadow);
  padding-top: 5px;
}
#app-mount .powercord-toast .header {
  background-color: transparent;
  box-shadow: none;
}
#app-mount .powercord-toast .header div .icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" fill="%237289DA" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>') 0 0/50px 50px no-repeat;
  color: transparent;
  padding: 15px;
  margin-left: -10px;
  margin-top: -5px;
  margin-bottom: -25px;
}
#app-mount .powercord-toast .header div .icon img {
  visibility: hidden;
}
#app-mount .powercord-toast .header span {
  margin-top: 2px;
}
#app-mount .powercord-toast .header .dismiss {
  background: var(--close-icon);
  color: transparent;
  opacity: 1;
}
#app-mount .powercord-toast .contents {
  background-color: transparent;
}
#app-mount .powercord-toast .contents .inner {
  background-color: transparent;
  color: var(--text-darker);
  font-weight: 600;
  border: none;
  margin-top: -32px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: 50px;
}
#app-mount .powercord-toast .buttons {
  width: 50%;
  margin-left: auto;
  margin-right: 1px;
}
#app-mount .powercord-toast .buttons button {
  border-radius: 3px;
}
#app-mount .powercord-toast .buttons .colorGrey-2DXtkV {
  opacity: 1;
  background-color: #707A87;
  color: #fff;
}
#app-mount .powercord-toast .buttons .colorGrey-2DXtkV:hover {
  background-color: #646D7A;
}
#app-mount .powercord-toast .buttons .colorGreen-29iAKY {
  order: 1;
  opacity: 1;
  background-color: #43B581;
  color: #fff;
}
#app-mount .powercord-toast .buttons .colorGreen-29iAKY:hover {
  background-color: #3CA374;
}
#app-mount .powercord-toast .buttons .colorRed-1TFJan {
  opacity: 1;
  background-color: #F04747;
  color: #fff;
}
#app-mount .powercord-toast .buttons .colorRed-1TFJan:hover {
  background-color: #D84040;
}
#app-mount .powercord-toast .buttons .colorBrand-3pXr91 {
  opacity: 1;
  background-color: #7289DA;
  color: #fff;
}
#app-mount .powercord-toast .buttons .colorBrand-3pXr91:hover {
  background-color: #677BC4;
}
#app-mount .powercord-toast .progress-2XXRYo {
  background-color: transparent !important;
  border-top-left-radius: 0;
}
#app-mount .powercord-toast .progress-2XXRYo .progressBar-3u8FBM {
  background: linear-gradient(36deg, #1D976C, #93F9B9) !important;
}

#app-mount .powercord-toast#powercord-updater .header span {
  color: var(--text-default);
}
#app-mount .powercord-toast#powercord-updater .header [aria-label="Info: Updates are available!"] .icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23FAA61A" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 8l-4 4h3c0 3.31-2.69 6-6 6-1.01 0-1.97-.25-2.8-.7l-1.46 1.46C8.97 19.54 10.43 20 12 20c4.42 0 8-3.58 8-8h3l-4-4zM6 12c0-3.31 2.69-6 6-6 1.01 0 1.97.25 2.8.7l1.46-1.46C15.03 4.46 13.57 4 12 4c-4.42 0-8 3.58-8 8H1l4 4 4-4H6z"/></svg>') 0 0/50px 50px no-repeat;
  animation: spin 5s linear infinite;
}
#app-mount .powercord-toast#powercord-updater .header [aria-label="Info: Updates are available!"] + span {
  font-size: 0;
  margin-bottom: -6px;
}
#app-mount .powercord-toast#powercord-updater .header [aria-label="Info: Updates are available!"] + span::after {
  content: "There are new updates available!";
  font-size: 16px;
}
#app-mount .powercord-toast#powercord-updater .header [aria-label="Success: Update complete!"] .icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2343B581" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/></svg>') 0 0/50px 50px no-repeat;
}

#app-mount .powercord-toast#missing-entities-notify {
  height: 80px;
}
#app-mount .powercord-toast#missing-entities-notify .header [aria-label="Danger: No missing themes were found - try again later!"] .icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23F04747" width="18px" height="18px"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>') 0 0/50px 50px no-repeat;
}
#app-mount .powercord-toast#missing-entities-notify .header span {
  margin-top: 11px;
}
#app-mount .powercord-toast#missing-entities-notify .progress-2XXRYo {
  margin-top: auto;
}

#app-mount .powercord-toast.bf-status-popup .inner .bf-status-popup {
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: -50px;
}
